<!DOCTYPE html> {%load static%}
<html>

<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Django Social</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
</head>

<body>

    <header class="main-head">
        <nav class="main">
            <a id="logoanm" href="{% url 'feed' %}"><img id='logo' src="{% static 'twitter.png' %}" alt="logo de twitter">
            </a>
            <ul>
                {%if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% if massages %} {% for massage in massages %}
    <div class="notification {{massage.tags}}">
        {{massage}}
    </div>
    {% endfor %} {% endif %}


    <div class="main">

        <nav class="second-nav">
            <a class="feed" href="{% url 'feed' %}">Inicio</a> {%if request.user.is_authenticated %}
            <a class="profile" href="{% url 'profile' request.user.username %}">Mi Perfil</a>
            <a class="new" href="{% url 'post'%}">Crear nuevo post</a> {% endif%}
        </nav>


        {% block content %} {% endblock content %}



    </div>

    <footer>
        <div class="row">
            <p>Red Social con Django<br>hecha por: Nicolas Capiz</p>
        </div>
    </footer>

</body>

</html>